.code {
    background-color: #1a1a1a;
    border: 1px solid #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    border-radius: 5px;
    overflow: auto;
    max-width: 600px;
}

img {
    border-radius: 15px;
}

button {
    border: 2px solid black;
    border-radius: 40px;
    margin: 20px 0;
    padding: 15px;
    font-size: 20px;
    background-color: transparent;
}
button:hover {
    border: 2px solid lightblue;
    background-color: lightblue;
    color: blue;
}
button:active {
    border: 2px solid lightblue;
    background-color: transparent;
    color: lightblue;
}

.red {
    color: red;
}