.code {
    background-color: #1a1a1a;
    border: 1px solid #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    border-radius: 5px;
    overflow: auto;
    max-width: 800px;
}

img {
    border-radius: 15px;
}

/* -------L14------- */

.lesson-14__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lesson-14__slide-container {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c5f1a3;
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
}

.lesson-14__slider_btn {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.lesson-14__slider_btn:disabled {
    background-color: #b0d8a0;
    cursor: not-allowed;
}